@font-face {
  src: url(../fonts/Regular/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Regular/Inter-Regular.woff) format("woff"),
    url(../fonts/Regular/Inter-Regular.ttf) format("ttf"),
    url(../fonts/Regular/Inter-Regular.otf) format("otf");
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Bold/Inter-Bold.woff2) format("woff2"),
    url(../fonts/Bold/Inter-Bold.woff) format("woff"),
    url(../fonts/Bold/Inter-Bold.ttf) format("ttf"),
    url(../fonts/Bold/Inter-Bold.otf) format("otf");
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url(../fonts/Black/Inter-Black.woff2) format("woff2"),
    url(../fonts/Black/Inter-Black.woff) format("woff"),
    url(../fonts/Black/Inter-Black.ttf) format("ttf"),
    url(../fonts/Black/Inter-Black.otf) format("otf");
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}
