.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(2rem + (100vw - 320px) / (768 - 320) * (72 - 32));
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 2rem;
    line-height: 109%;
    max-width: 288px;
    margin: 2.0625rem auto 0;
  }
}
